body, html {
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #22262F;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4C5261;
}

header nav ul li {
  float: left;
}

header nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header nav ul li a:hover {
  background-color: #ddd;
  color: black;
}


th, td {
  color: #ffffff;
}

.graph{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  color: #ffffff;
  margin-left: 20%;
  margin-right: 20%;
}

.performance-table{
  margin-top: 5%;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #22262F;
  margin-right: 20%;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 95%;
  border-radius: 10px; /* Yuvarlak köşeler */
  border: 2px solid #4C5263; /* Beyaz çerçeve */
  margin-left: 2.5%; /* Biraz boşluk ekleyelim */
  margin-right: 2.5%; /* Biraz boşluk ekleyelim */
  overflow: hidden; /* Yuvarlak köşeler için */
}
th {
  color: #A8ABB6;
  text-align: center;
  padding: 8px;
  border-radius: 20px;
}
td {
  text-align: center;
  padding: 8px;
  border-radius: 20px;
}

.positive {
  color: #078A44; /* Pozitif değerler için yeşil renk */
}

.negative {
  color: #C9464E; /* Negatif değerler için kırmızı renk */
}
