<div style="padding-top: 100px;"></div>
<div class="login-form-container">
  <h2>Login Form</h2>
  <form>
    <div class="input-group">
      <label for="username">Email:</label>
      <input type="email" id="email"  [(ngModel)]="email" placeholder="Enter your email" name="email" required>
    </div>

    <div class="input-group">
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" placeholder="Enter your password" name="password" required>
    </div>

    <button type="button" class="login-button" (click)="login()" >Login</button>
    <div class="signup-text">
      <button type="button" class="text-button" (click)="goToSignup()">Go to Sign Up</button>
    </div>
  </form>
</div>
